body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #f4f4f4;
}

.container {
    text-align: center;
}

/* Main Page */
.logo {
   width: 320px;
   height: auto;
   display: block;
   margin: 40px auto 10px auto;
}

.start-button {
    font-family: 'Lexend', sans-serif;
    background-color: #f7a312;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: #e2e2e2;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 0 2px 6px rgba(247, 163, 18, 0.5); 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-button:hover {
    background-color: #ffb32f;
    transform: translateY(-2px);
}

/* Input Page */
.logo-top {
  width: 200px;
  height: auto;
  display: block;
  margin: 40px auto 10px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.input-title {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #027576;
    text-align: center;
    margin-top: 30px;
}

.input-box {
    margin-top: 0px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.generate-button {
    font-family: 'Lexend', sans-serif;
    background-color: #f7a312;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: #e2e2e2;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 200px;
    box-shadow: 0 2px 6px rgba(247, 163, 18, 0.5); 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.generate-button:hover {
  background-color: #027576;
  box-shadow: 0 2px 6px #013a3b69; 
  transform: translateY(-2px);
}

.favorites-button {
    font-family: 'Lexend', sans-serif;
    background-color: #f7a312;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 140px;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.favorites-button:hover {
    transform: translateY(-2px);
    background-color: #027576
}

.history-button {
    font-family: 'Lexend', sans-serif;
    background-color: #f7a312;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.history-button:hover {
    transform: translateY(-2px);
    background-color: #027576;
}